@import "_variables";

.text-third {
  color: $thirdColor;
}
.uppercase {
  text-transform: uppercase;
}
.footer {
  margin-top: 10%;
  margin-bottom: 15%;
  ul li {
    list-style: none;
    padding: auto;
  }
}